<div class="row">
  <div class="col-lg-12">
    <p class="table-header pull-left">Manage Showings</p>
    <button type="button" class="btn btn-default btn-md pull-right" ng-click="resetFormAndShowCreateModal()"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <th>Movie</th>
      <th>Auditorium</th>
      <th class="hidden-xs">Date</th>
      <th class="hidden-xs">Time</th>
      <th class="visible-xs">Date</th>
      <th class="text-right">Actions</th>
      <tr ng-repeat="showing in showings">
        <td>{{showing.movie.title}}</td>
        <td>{{showing.auditorium.name}}</td>
        <td class="hidden-xs">{{showing.showtime | date: 'MM/dd/yyyy'}}</td>
        <td class="hidden-xs">{{showing.showtime | date: 'h:mma'}}</td>
        <td class="visible-xs">{{showing.showtime | date: 'MM/dd/yyyy h:mma'}}</td>
        <td class="text-right">
          <button type="button" class="btn btn-default btn-sm" ng-click="setShowingForEditAndShowEditModal(showing)"><span class="glyphicon glyphicon-edit"></span></button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="promptForDeletion(showing)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    </table>
  </div>
  <generic-form-modal modal-id="showingCreateModal" modal-title="Create Showing" success-button-text="Create Showing" submit-method="createShowing()">
      <div class="alert alert-danger" role="alert" ng-show="formErrors.length > 0">
        <p ng-repeat="error in formErrors">{{error}}</p>
      </div>
      <div class="form-group">
          <label>Showtime *</label>
          <div class="input-group input-group-sm date"
               datetimepicker-options="{{datePickerOptions}}"
               datetimepicker
               ng-model="createShowingObj.showtime">
              <input type="text" class="form-control"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
      <div class="form-group">
          <label>Movie * </label>
          <select class="form-control btn btn-default dropdown-toggle" ng-options="movie.id as movie.title for movie in movies" ng-model="createShowingObj.movie_id"></select>
      </div>
      <div class="form-group">
          <label>Screen * </label>
          <select class="form-control btn btn-default dropdown-toggle" ng-options="screen.id as screen.name for screen in screens" ng-model="createShowingObj.auditorium_id"></select>
      </div>
  </generic-form-modal>
  <generic-form-modal modal-id="showingEditModal" modal-title="Edit Showing" success-button-text="Edit Showing" submit-method="updateShowing()">
      <div class="alert alert-danger" role="alert" ng-show="formErrors.length > 0">
        <p ng-repeat="error in formErrors">{{error}}</p>
      </div>
      <div class="form-group">
          <label>Showtime *</label>
          <div class="input-group input-group-sm date"
               datetimepicker-options="{{datePickerOptions}}"
               datetimepicker
               ng-model="editShowingObj.showtime">
              <input type="text" class="form-control"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
      <div class="form-group">
          <label>Movie * </label>
          <select class="form-control btn btn-default dropdown-toggle" ng-options="movie.id as movie.title for movie in movies" ng-model="editShowingObj.movie_id"></select>
      </div>
      <div class="form-group">
          <label>Screen * </label>
          <select class="form-control btn btn-default dropdown-toggle" ng-options="screen.id as screen.name for screen in screens" ng-model="editShowingObj.auditorium_id"></select>
      </div>
  </generic-form-modal>
  <generic-form-modal modal-id="showingDeletionConfirmationModal" modal-title="Confirmation" success-button-text="Delete Showing" submit-method="deleteShowing()">
    <p class="text-center">Are you sure you want to delete this showing?</p>
  </generic-form-modal>
</div>