<div ng-controller="ViewShowtimesCtrl">
  <div class="row marketing">
    <div class="col-lg-10">
      <p class="top-header">Showings for {{dateShown | date: 'EEEE, M/d/yyyy'}}</p>
      <p>
        All showtimes are displayed below. If a showtime is sold out, it will be disabled.
      </p>
    </div>
    <div class="col-lg-2">
      <div class="input-group input-group-sm date"
         datetimepicker-options="{{datePickerOptions}}"
         datetimepicker
         ng-model="dateSelected">
        <input type="text" class="form-control"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="row" ng-repeat="movie in movies">
    <div class="col-lg-12">
      <h4>{{movie.title}}</h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <img class="img-responsive thumbnail" ng-src="{{movie.bannerimageurl}}">
            </div>
            <div class="col-md-7">
              <div class="well">
                <button ng-repeat="showing in movie.showings" type="button" ng-disabled="!showing.tickets_available" class="btn btn-default btn-md showtime-button" ng-click="orderShowing(showing.id)">{{showing.showtime | date: 'h:mma'}}</button>
              </div>
              <h4>Rated {{movie.rating.name}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="movies.length > 0">
    <div class="col-lg-12">
      <div class="well floating-well">
        <p class="text-center">There are currently no available showings on the day selected</p>
      </div>
    </div>
  </div>
</div>